<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:h="http://java.sun.com/jsf/html">
	
    <h:head>
        <title>Login page</title>
        <link rel="stylesheet" type="text/css" href="../css/styles.css"/>
	  
    </h:head>
    <h:body>
    	
    	<h:form>
    	
    	   <table  width="1050px;" align="center" style="border: 5px solid yellow; padding: 100px; margin: 100px;">
    	   		<tr><td colspan="2"><h2><h:outputText value ="Trading link - Login"></h:outputText></h2></td></tr>
	    	   	
	    	   	<tr>
	    	   			<td><h:outputLabel>Enter User id</h:outputLabel> </td>
	    	   			<td>   <h:inputText value="#{loginBean.userid}" size="30"></h:inputText> </td>
	    	   	</tr>
	    	   	<tr>
	    	   			<td> <h:outputLabel>Enter password </h:outputLabel> </td>
	    	   			<td>   <h:inputSecret value="#{loginBean.password}"  size="30"></h:inputSecret> </td>
	    	   	</tr>
	    	   	
	    	   	<tr>
	    	   			<td> <h:outputLabel>Remember me </h:outputLabel> </td>
	    	   			<td>   <h:selectBooleanCheckbox value="#{loginBean.rememberMe}" ></h:selectBooleanCheckbox> </td>
	    	   	</tr>
	    	   	
	    	   	
	    	   	<tr>
	    	   	<td>  
	    	   	  <h:commandButton value="Login" action="#{loginBean.welcome}"></h:commandButton>
	    	   	 </td>
	    	   	<td>  
	    	   	  <h:commandButton value="Signup" action="signup"></h:commandButton> 
	    	   	 </td>
	    	   	</tr>
    	   </table>
    	 
    	
    	  
    	</h:form>
    </h:body>
</html>