<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:h="http://java.sun.com/jsf/html">
	
    <h:head>
        <title>Welcome page</title>
         <link rel="stylesheet" type="text/css" href="../css/styles.css"/>
         
    </h:head>
    <h:body>
    	
    	<h:form>
    	   
    	   <table  width="1050px;" align="center" style="border: 5px solid yellow; padding: 100px; margin: 100px;">
    	   
    	   			
    	   		<tr><td colspan="2"><h2><h:outputText value ="#{welcomeBean.pageTitle}"></h:outputText></h2></td></tr>
    	   			
	    	   	<tr>
	    	   			<td> User id </td>
	    	   			<td>   <h:outputText value="#{loginBean.userid}"></h:outputText> </td>
	    	   	</tr>
	    	   	
	    	   	<tr>
	    	   			<td> Password </td>
	    	   			<td>   <h:outputText value="#{loginBean.password}"></h:outputText> </td>
	    	   	</tr>
	    	   	
	    	   	
	    	   	<tr>
	    	   			<td> Email </td>
	    	   			<td>   <h:outputText value="#{welcomeBean.email}"></h:outputText> </td>
	    	   	</tr>
	    	   	
	    	   	
	    	   		
	    	   	<tr>
	    	   			<td> Group </td>
	    	   			<td>   <h:outputText value="#{welcomeBean.group}"></h:outputText> </td>
	    	   	</tr>
	    	   	
	    	   	
	    	   		
	    	   	<tr>
	    	   			<td> Role </td>
	    	   			<td>   <h:outputText value="#{welcomeBean.role}"></h:outputText> </td>
	    	   	</tr>
	    	   	
	    	   	<tr>
	    	   			<td> Phone </td>
	    	   			<td>   <h:outputText value="#{welcomeBean.phone}"></h:outputText> </td>
	    	   	</tr>
	    	   	
	    	   	<tr>
	    	   			<td> Remember Me  </td>
	    	   			<td>   <h:outputText value="#{loginBean.rememberMe}"></h:outputText> </td>
	    	   	</tr>
	    	   	
	    	   	
	    	   	<tr>
	    	   			<td colspan="2" align="left">  <h:commandButton value="Back" action="#{welcomeBean.back}"></h:commandButton> </td>
	    	   	</tr>
    	
    	   </table>
    	 
    	
    	 
    	  
    	</h:form>
    </h:body>
</html>